.entry-btn {
  width: 50%;
  height: 25%;
}
#mainPage {
  background-color: coral;
  width: 100vw;
  height: 100vh;
}
.container {
  width: 80%;
  display: flex;
  justify-content: center;
}
.entry-header {
  margin: 0;
  text-align: center;
  font-size: 10rem;
  color: lavenderblush;
}

@media (max-width: 40rem) {
  .entry-header {
    font-size: 5rem;
    color: lavenderblush;
    margin: 0;
  }
}

.helper-btn {
  position: relative;
  left: 40%;
  top: 10%;
}
.inNeed-btn {
  position: relative;
  left: 35%;
  top: 10%;
}
