.starting-page {
  background-image: url("../../media/IcareMainBackground.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;

  height: 100vh;
  width: 100vw;
}

.starting-header {
  margin: 0;
  color: white;
  position: relative;
  left: 40%;
}
.log-in-main-page {
  position: relative;
  top: 40%;
  left: 48%;
}
.simple-modal {
  width: 30%;
  height: 40%;
  position: relative;
  top: 40%;
  left: 35%;
}

@import url("https://fonts.googleapis.com/css?family=Coiny");

body {
  background: #ffffff;
}
.cloud-text {
  font-family: "Coiny", cursive;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/clouds.jpg);
  background-size: auto;
  background-attachment: unset;
  background-position: 0%;
  width: auto;
  margin: 0;
  font-size: 134px;
  animation: clouds-moving infinite 220s;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-timing-function: linear;
  text-align: center;
}
@keyframes clouds-moving {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}
.attribute {
  position: relative;
  font-size: 26px;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
