.helper-page {
  background-image: url("../../media/piqsels.com-id-jczcd\ .jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;

  text-align: center;
}

.card-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
